[Unit]
Description=mount/umount all squashmount configured mount points
After=local-fs.target systemd-tmpfiles-setup.service

[Service]
# Squashing can take a long time. It is recommended to override the following
# infinite timeout in /etc/systemd/system/squashmount.service.d/timeout.conf
TimeoutStopSec=infinity
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/squashmount start
ExecStop=/usr/bin/squashmount -f --lsof=0 --lsof-ro=0 stop

[Install]
WantedBy=multi-user.target
